@charset "UTF-8";
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border: 0.5px solid #ffffff;
  border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px -0.2px 24px -25px #f0f0f0;
          box-shadow: inset 0px -0.2px 24px -25px #f0f0f0;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #011826;
}

.layout {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  scroll-snap-align: start;
  background: -webkit-gradient(linear, left top, left bottom, from(#50a0bf), to(#6ca0db));
  background: linear-gradient(180deg, #50a0bf 0%, #6ca0db 100%);
  height: 100vh;
  width: 100vw;
  position: relative;
  border-bottom: 1px solid #e3eef1;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid #e3eef1;
}

h1 {
  padding-top: 15vh;
  font-size: 60px;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 50px;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

.navigation {
  position: fixed;
  height: 90vh;
  margin: 3vh;
  width: 90px;
  border-right: 2px solid black;
  z-index: 10;
  border-radius: 40px;
}

.navigation li {
  border-radius: 40px 0 0 40px;
}

.navigation a {
  font-size: 40px;
  color: #e3eef1;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.navigation img {
  width: 60px;
  height: 60px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.nav-links li {
  letter-spacing: 5px;
  max-width: 90px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.nav-links span {
  width: 0;
  height: 80px;
  border-radius: 0 40px 40px 0;
  position: absolute;
  top: 0;
  right: 450px;
  -webkit-transition: translateY(-70px);
  transition: translateY(-70px);
  padding-top: 15px;
}

.nav-links li:hover {
  background-color: #e3eef1;
}

.nav-links li:hover li {
  background-color: #e3eef1;
}

.nav-links li:hover span {
  width: 480px;
  color: black;
  left: 70px;
  background-color: #e3eef1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.temida {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
}

header .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .wrapper .name {
  padding-top: 0;
}

header .wrapper .motto {
  font-style: italic;
  margin-top: 15vh;
  text-align: center;
  font-size: 24px;
}

.subtitle {
  text-align: center;
}

.arrow,
.arrow:before,
.arrow:after {
  position: absolute;
  left: 50%;
}

.arrow {
  top: 120%;
  -webkit-transform: rotate(45deg);
}

.arrow:before {
  content: "";
  width: 25px;
  height: 25px;
  top: 50%;
  margin: 10px 0 0 10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

#services {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#6496be), to(#7ca2c2));
  background: linear-gradient(180deg, #6496be 0%, #7ca2c2 100%);
}

.services-title::before {
  content: "§ 1. ";
  opacity: 0.2;
  font-size: 90px;
}

#services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
  margin: auto;
}

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-pic {
  width: 80px;
}

.service-wrapper h2 {
  font-size: 32px;
  margin: auto 0 auto 50px;
}

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(#adc5d9), to(#7ab0db));
  background: linear-gradient(180deg, #adc5d9, #7ab0db 100%);
}

.about-title::before {
  content: "§ 2. ";
  opacity: 0.2;
  font-size: 90px;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin: auto;
}

#about img,
.about {
  width: 400px;
}

#about p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

#contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#82baff), to(#469bfd));
  background: linear-gradient(180deg, #82baff 0%, #469bfd 100%);
  height: 97vh;
  position: relative;
}

.contact-title::before {
  content: "§ 3. ";
  opacity: 0.2;
  font-size: 90px;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 980px;
  margin: auto;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.name-wrapper,
.email-wrapper,
.phone-wrapper,
.message-wrapper {
  position: relative;
  margin-top: 50px;
}

.name-wrapper .label-name,
.email-wrapper .label-email,
.phone-wrapper .label-phone,
.message-wrapper .label-message {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.contact-form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #e3eef1;
  left: 0px;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact-form input,
textarea {
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 20px;
  outline: none;
  resize: none;
}

.content-name,
.content-email,
.content-phone,
.content-message {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form input,
textarea {
  padding: 15px 0 10px 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-form input:focus + .label-name .content-name,
input:focus + .label-email .content-email,
input:focus + .label-phone .content-phone,
textarea:focus + .label-message .content-message {
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
  font-size: 14px;
  color: #e3eef1;
}

.contact-form textarea:focus + .label-message .content-message {
  -webkit-transform: translateY(-825%);
          transform: translateY(-825%);
  font-size: 14px;
  color: #e3eef1;
}

.contact-form input:valid + .label-name .content-name,
.contact-form input:not(:placeholder-shown) + .label-email .content-email,
.contact-form input:not(:placeholder-shown) + .label-phone .content-phone {
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
  font-size: 14px;
  color: #e3eef1;
}

.contact-form
textarea:not(:placeholder-shown)
+ .label-message
.content-message {
  -webkit-transform: translateY(-825%);
          transform: translateY(-825%);
  font-size: 14px;
  color: #e3eef1;
}

.contact-form input:focus + .label-name::after,
.contact-form input:valid + .label-name::after,
.contact-form input:focus + .label-email::after,
.contact-form input:not(:placeholder-shown) + .label-email::after,
.contact-form input:focus + .label-phone::after,
.contact-form input:not(:placeholder-shown) + .label-phone::after,
.contact-form textarea:focus + .label-message::after,
.contact-form textarea:not(:placeholder-shown) + .label-message::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.section-contact {
  margin-top: 60px;
}

.section-contact h3 {
  font-size: 18px;
  padding: 20px;
  margin-left: 80px;
  letter-spacing: 2px;
}

.btn-send {
  background-color: #363435;
  border-radius: 0.6em;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 2px;
  width: 150px;
  height: 50px;
  border-color: #adc5d9;
  color: #fff;
  background-image: linear-gradient(45deg, #e3eef1 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn-send:hover {
  background-position: 0;
  color: #363435;
}

footer {
  height: 3vh;
  width: 100vw;
  background-color: #363636;
  color: #afafaf;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}
/*# sourceMappingURL=style.css.map */