@charset "UTF-8";
*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border: 0.5px solid #ffffff;
  border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px -0.2px 24px -25px #f0f0f0;
          box-shadow: inset 0px -0.2px 24px -25px #f0f0f0;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #011826;
}

.layout {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  scroll-snap-align: start;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc5d9), to(#7ab0db));
  background: linear-gradient(180deg, #adc5d9, #7ab0db 100%);
  height: 100vh;
  width: 100vw;
  position: relative;
  border-bottom: 1px solid #f8f8f8;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid #f8f8f8;
}

h1 {
  padding-top: 10vh;
  font-size: 3.5em;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 1.5em;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

.navigation {
  position: fixed;
  height: 90vh;
  margin: 3vh 3vh 0 1vh;
  width: 3.5em;
  border-right: 2px solid black;
  z-index: 10;
  border-radius: 2em;
}

.navigation li {
  border-radius: 4em 0 0 4em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navigation a {
  font-size: 1.5em;
  color: #f8f8f8;
  width: 2.4em;
  height: 3em;
  padding: 10px;
  margin-right: 1vh;
  font-weight: bold;
}

.navigation img {
  width: 1.5em;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.nav-links li {
  letter-spacing: 5px;
  max-width: 30em;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}

.nav-links span {
  width: 0;
  height: 3em;
  border-radius: 0 40px 40px 0;
  position: absolute;
  top: 0;
  right: 450px;
  -webkit-transition: translateY(-70px);
  transition: translateY(-70px);
  padding-top: 0.7em;
}

.nav-links li:hover {
  background-color: #f8f8f8;
}

.nav-links li:hover li {
  background-color: #f8f8f8;
}

.nav-links li:hover span {
  width: 13em;
  color: black;
  left: 2em;
  background-color: #f8f8f8;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.hamburger {
  display: none;
}

.temida {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
}

header .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .wrapper .name {
  padding-top: 0;
}

header .wrapper .motto {
  font-style: italic;
  margin-top: 15vh;
  text-align: center;
  font-size: 24px;
}

.subtitle {
  text-align: center;
}

.orip-logo {
  position: absolute;
  right: 80px;
  top: 80px;
  width: 300px;
}

.arrow,
.arrow:before,
.arrow:after {
  position: absolute;
  left: 50%;
}

.arrow {
  top: 120%;
  -webkit-transform: rotate(45deg);
  width: 25px;
  height: 25px;
  margin: 10px 0 0 10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

#services {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e6e6e6));
  background: linear-gradient(180deg, #dadada 0%, #e6e6e6 100%);
}

.services-title::before {
  content: "§ 1. ";
  opacity: 0.2;
  font-size: 90px;
}

#services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
  margin: auto;
}

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-pic {
  width: 80px;
}

.service-wrapper h2 {
  font-size: 32px;
  margin: auto 0 auto 50px;
}

#about {
  background: -webkit-gradient(linear, left top, left bottom, from(#adc5d9), to(#7ab0db));
  background: linear-gradient(180deg, #adc5d9, #7ab0db 100%);
}

.about-title::before {
  content: "§ 2. ";
  opacity: 0.2;
  font-size: 90px;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin: auto;
}

#about img,
.about {
  width: 400px;
}

#about p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

#contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e6e6e6));
  background: linear-gradient(180deg, #dadada 0%, #e6e6e6 100%);
  height: 97vh;
  position: relative;
}

.contact-title::before {
  content: "§ 3. ";
  opacity: 0.2;
  font-size: 90px;
}

#contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  margin: auto;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.name-wrapper,
.email-wrapper,
.phone-wrapper,
.message-wrapper {
  position: relative;
  margin-top: 50px;
}

.name-wrapper .label-name,
.email-wrapper .label-email,
.phone-wrapper .label-phone,
.message-wrapper .label-message {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.contact-form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #678fb1;
  left: 0px;
  bottom: -1px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.contact-form input,
textarea {
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 20px;
  outline: none;
  resize: none;
}

.content-name,
.content-email,
.content-phone,
.content-message {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form input,
textarea {
  padding: 15px 0 10px 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-form input:focus + .label-name .content-name,
input:focus + .label-email .content-email,
input:focus + .label-phone .content-phone,
textarea:focus + .label-message .content-message {
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
  font-size: 14px;
  color: #678fb1;
}

.contact-form textarea:focus + .label-message .content-message {
  -webkit-transform: translateY(-825%);
          transform: translateY(-825%);
  font-size: 14px;
  color: #678fb1;
}

.contact-form input:valid + .label-name .content-name,
.contact-form input:not(:placeholder-shown) + .label-email .content-email,
.contact-form input:not(:placeholder-shown) + .label-phone .content-phone {
  -webkit-transform: translateY(-230%);
          transform: translateY(-230%);
  font-size: 14px;
  color: #678fb1;
}

.contact-form
textarea:not(:placeholder-shown)
+ .label-message
.content-message {
  -webkit-transform: translateY(-825%);
          transform: translateY(-825%);
  font-size: 14px;
  color: #678fb1;
}

.contact-form input:focus + .label-name::after,
.contact-form input:valid + .label-name::after,
.contact-form input:focus + .label-email::after,
.contact-form input:not(:placeholder-shown) + .label-email::after,
.contact-form input:focus + .label-phone::after,
.contact-form input:not(:placeholder-shown) + .label-phone::after,
.contact-form textarea:focus + .label-message::after,
.contact-form textarea:not(:placeholder-shown) + .label-message::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.section-contact h3 {
  font-size: 18px;
  padding: 20px;
  margin-left: 80px;
  letter-spacing: 2px;
}

.btn-send {
  background-color: #363435;
  border-radius: 0.6em;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 2px;
  width: 150px;
  height: 50px;
  border-color: #adc5d9;
  color: #fff;
  background-image: linear-gradient(45deg, #f8f8f8 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.btn-send:hover {
  background-position: 0;
  color: #363435;
}

footer {
  height: 3vh;
  width: 100vw;
  background-color: #363636;
  color: #afafaf;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  #contact,
  #services,
  #about {
    height: auto;
  }
  .orip-logo {
    right: 1.5em;
    top: 1.5em;
    width: 8em;
  }
  h1 {
    padding-top: 7vh;
    margin-bottom: 5vh;
  }
  .name {
    font-size: 2.2em;
    width: 80vw;
    margin-bottom: 0.5em;
  }
  .subtitle {
    font-size: 1em;
  }
  header .wrapper {
    height: 80vh;
    margin-top: 2em;
    padding-top: 7em;
  }
  header .wrapper .motto {
    font-size: 1em;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
  }
  .navigation {
    position: relative;
    margin: 0;
    width: 100vw;
    border: none;
  }
  .navigation img {
    display: none;
  }
  .navigation a {
    width: 100vw;
    color: black;
  }
  .navigation li {
    width: 100%;
    border: none;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: fixed;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    background-color: whitesmoke;
    color: #50a0bf;
    height: 100vh;
    width: 100vw;
    letter-spacing: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 24px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .nav-links-mobile li a {
    text-decoration: none;
  }
  .nav-links-mobile-active {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
  .nav-links span {
    position: unset;
    right: 80vw;
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    padding-top: 2em;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: auto;
    padding: 10px;
    margin-right: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    left: 1.5em;
    top: 2.2em;
    outline: none;
    z-index: 999;
  }
  .hamburger-box {
    width: 35px;
    height: 15px;
    display: inline-block;
    position: relative;
  }
  .hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: #363435;
    position: absolute;
    border-radius: 3px;
    left: 0;
    top: 50%;
    -webkit-transition: background-color 0.3s 0.1s ease-in-out;
    transition: background-color 0.3s 0.1s ease-in-out;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: #363435;
    position: absolute;
    border-radius: 3px;
    content: "";
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    top: 10px;
  }
  .hamburger-active .hamburger-inner {
    background-color: transparent;
  }
  .hamburger-active .hamburger-inner:before {
    -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
  }
  .hamburger-active .hamburger-inner::after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
  }
  .temida {
    width: 100%;
    opacity: 0.2;
  }
  #services .container {
    padding: 1em;
    width: auto;
    margin-bottom: 5em;
  }
  #services .container .service-wrapper {
    margin-top: 10px;
  }
  #services .container h2 {
    font-size: 1.5em;
  }
  #services .container .service-pic {
    width: 4em;
  }
  #about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  #about .container .image img {
    width: 80vw;
  }
  #about .container .about {
    padding: 3em;
  }
  #about .container .about p {
    font-size: 1.2em;
    line-height: 2em;
  }
  #contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90vw;
  }
  #contact .container h3 {
    margin: 0;
    text-align: center;
  }
  #contact .container .contact-form {
    width: 90%;
  }
  #contact .container .contact-form .btn-send {
    margin: 4em auto;
  }
  #footer .page-footer {
    height: 8vh;
  }
}
/*# sourceMappingURL=style.css.map */