$color-main: #50a0bf;
$color-light: #f8f8f8;
// $color-light: #283377;
$color-two: #6496be;
$color-three: #96c6d9;
$color-four: #adc5d9;
$color-five: #8bb9ee;
$color-font: #363435;
$color-dark: #363435;

// $color-light: #bed6f7;
// $color-two: #c73117;
// $color-three: #43bf84;
// $color-four: #8ac4db;
// $color-five: #43bf84;
// $font-title: "Abril Fatface", cursive;
$font-title: "Cormorant Garamond", serif;

$font-text: "Open Sans", sans-serif;

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border: 0.5px solid #ffffff;
  border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 0px;
  box-shadow: inset 0px -0.2px 24px -25px #f0f0f0;
}

body {
  overflow-x: hidden;
  font-family: $font-text;
  color: #011826;
  // background-color: $color-light;
}
.layout {
  height: 100vh;
  overflow-y: scroll;
  // overflow-y: hidden;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  scroll-snap-align: start;
  // background-color: $color-main;
  // background: linear-gradient(180deg, $color-main 0%, #6ca0db 100%);
  background: linear-gradient(180deg, #adc5d9, #7ab0db 100%);
  height: 100vh;
  width: 100vw;
  position: relative;
  border-bottom: 1px solid $color-light;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid $color-light;
  // margin: 2vh;
}

h1 {
  padding-top: 10vh;
  font-size: 3.5em;
  text-align: center;
  font-family: $font-title;
  // letter-spacing: 10px;
  margin-bottom: 1.5em;
}

h2 {
  font-family: $font-text;
}

.navigation {
  position: fixed;
  height: 90vh;
  margin: 3vh 3vh 0 1vh;
  width: 3.5em;
  border-right: 2px solid black;
  z-index: 10;
  border-radius: 2em;
  & li {
    border-radius: 4em 0 0 4em;
    transition: all 0.2s ease;
  }
  & a {
    font-size: 1.5em;
    color: $color-light;
    width: 2.4em;
    height: 3em;
    padding: 10px;
    margin-right: 1vh;
    font-weight: bold;
  }

  & img {
    width: 1.5em;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
}

.nav-links li {
  letter-spacing: 5px;
  max-width: 30em;
  transition: 0.2s ease;

  & a {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
  }
}
.nav-links span {
  width: 0;
  height: 3em;
  border-radius: 0 40px 40px 0;
  position: absolute;
  top: 0;
  right: 450px;
  transition: translateY(-70px);
  padding-top: 0.7em;
  // font-size: 1em;
  // transition: 0.7s ease;
}

.nav-links li:hover {
  background-color: $color-light;

  & li {
    background-color: $color-light;
  }
  & span {
    width: 13em;
    color: black;
    left: 2em;
    background-color: $color-light;
    transition: 0.2s ease;
  }
}
.hamburger {
  display: none;
}

.temida {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
}

header .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & .name {
    padding-top: 0;
    margin-bottom: 1em;
  }
  & .motto {
    font-style: italic;
    margin-top: 15vh;
    text-align: center;
    font-size: 24px;
  }
}

.subtitle {
  text-align: center;
}

.orip-logo {
  position: absolute;
  right: 80px;
  top: 80px;
  width: 300px;
  // height: 100px;
  // margin: auto;
}

.arrow,
.arrow:before,
.arrow:after {
  position: absolute;
  left: 50%;
}

.arrow {
  top: 120%;
  -webkit-transform: rotate(45deg);
  width: 25px;
  height: 25px;
  // top: 50%;
  margin: 10px 0 0 10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

/////////////////*Services*/////////////////
#services {
  position: relative;
  background: linear-gradient(180deg, #dadada 0%, #e6e6e6 100%);
}

.services-title::before {
  content: "ยง 1. ";
  opacity: 0.2;
  font-size: 90px;
}

#services .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 650px;
  margin: auto;
}

.service-wrapper {
  display: flex;

  & img {
    filter: invert(8%) sepia(67%) saturate(7068%) hue-rotate(358deg)
      brightness(81%) contrast(96%);
  }
}
.service-pic {
  width: 80px;
}

.service-wrapper h2 {
  font-size: 32px;
  margin: auto 0 auto 50px;
}

.weight {
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(48%, -50%);
  width: 50em;
}

//////////////////*About*//////////////////////

#about {
  background: linear-gradient(180deg, #adc5d9, #7ab0db 100%);
}
.about-title::before {
  content: "ยง 2. ";
  opacity: 0.2;
  font-size: 90px;
}
#about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: auto;
}
#about img,
.about {
  width: 400px;
}

#about p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

//////////////////*Contact*/////////////////////////

#contact {
  // background-color: $color-four;
  background: linear-gradient(180deg, #dadada 0%, #e6e6e6 100%);
  height: 97vh;
  position: relative;
}
.contact-title::before {
  content: "ยง 3. ";
  opacity: 0.2;
  font-size: 90px;
}
#contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin: auto;
}

.contact-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // margin-top: 50px;
}

.name-wrapper,
.email-wrapper,
.phone-wrapper,
.message-wrapper {
  position: relative;
  margin-top: 50px;
}

.name-wrapper .label-name,
.email-wrapper .label-email,
.phone-wrapper .label-phone,
.message-wrapper .label-message {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}
.contact-form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #678fb1;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.contact-form input,
textarea {
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 20px;
  outline: none;
  resize: none;
}

.content-name,
.content-email,
.content-phone,
.content-message {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.contact-form input,
textarea {
  padding: 15px 0 10px 0;
  font-size: 18px;
  font-family: $font-text;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-form input:focus + .label-name .content-name,
input:focus + .label-email .content-email,
input:focus + .label-phone .content-phone,
textarea:focus + .label-message .content-message {
  transform: translateY(-230%);
  font-size: 14px;
  color: #678fb1;
}
.contact-form textarea:focus + .label-message .content-message {
  transform: translateY(-825%);
  font-size: 14px;
  color: #678fb1;
}
.contact-form input:valid + .label-name .content-name,
.contact-form input:not(:placeholder-shown) + .label-email .content-email,
.contact-form input:not(:placeholder-shown) + .label-phone .content-phone {
  transform: translateY(-230%);
  font-size: 14px;
  color: #678fb1;
}

.contact-form
  textarea:not(:placeholder-shown)
  + .label-message
  .content-message {
  transform: translateY(-825%);
  font-size: 14px;
  color: #678fb1;
}

.contact-form input:focus + .label-name::after,
.contact-form input:valid + .label-name::after,
.contact-form input:focus + .label-email::after,
.contact-form input:not(:placeholder-shown) + .label-email::after,
.contact-form input:focus + .label-phone::after,
.contact-form input:not(:placeholder-shown) + .label-phone::after,
.contact-form textarea:focus + .label-message::after,
.contact-form textarea:not(:placeholder-shown) + .label-message::after {
  transform: translateX(0%);
}

.section-contact h3 {
  font-size: 18px;
  padding: 20px;
  margin-left: 80px;
  letter-spacing: 2px;
}

// .btn-send {
//   margin-top: 20px;
//   width: 150px;
//   height: 50px;
//   background-color: $color-light;
//   color: black;
//   border-radius: 10px;
//   font-size: 18px;
// }
// .btn-send:hover {
//   background-color: rgb(128, 132, 179);
// }
.btn-send {
  background-color: $color-dark;
  border-radius: 0.6em;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 2px;
  width: 150px;
  height: 50px;
  border-color: $color-four;
  color: #fff;
  background-image: -webkit-linear-gradient(
    45deg,
    $color-four 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, $color-light 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.btn-send:hover {
  background-position: 0;
  color: $color-dark;
}

footer {
  height: 3vh;
  width: 100vw;
  background-color: #363636;
  color: rgb(175, 175, 175);
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    // transform: translate(50px, 50px);
  }
}

@media only screen and (max-width: 600px) {
  .layout {
    scroll-snap-type: none;
  }
  #contact,
  #services,
  #about {
    height: auto;
  }
  .orip-logo {
    right: 1.5em;
    top: 1.5em;
    // transform: translateX(10%);
    width: 8em;
  }

  h1 {
    padding-top: 7vh;
    margin-bottom: 5vh;
  }
  .name {
    font-size: 2.2em;
    width: 80vw;
    margin-bottom: 0.5em;
  }
  .subtitle {
    font-size: 1em;
  }
  header .wrapper {
    height: 80vh;
    margin-top: 2em;
    padding-top: 7em;

    & .motto {
      font-size: 1em;
      position: absolute;
      left: 1vh;
      bottom: 1vh;
    }
  }
  .navigation {
    position: relative;
    margin: 0;
    width: 100vw;
    border: none;

    & img {
      display: none;
    }
    & a {
      width: 100vw;
      color: black;
    }
    & li {
      // display: none;
      width: 100%;
      border: none;
      // background-color: brown;
    }
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    text-decoration: none;
    background-color: whitesmoke;
    color: $color-main;
    height: 100vh;
    width: 100vw;
    letter-spacing: 4px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    transition: transform 0.2s ease-in-out;
    transform: translateX(-100vw);

    & li a {
      text-decoration: none;
    }
  }
  .nav-links-mobile-active {
    transform: translateX(0vw);
  }
  .nav-links span {
    // display: unset;
    position: unset;
    right: 80vw;
    width: 100%;
    text-align: center;
    // transition: none;
    font-size: 0.6em;
    padding-top: 2em;
  }

  .hamburger {
    display: flex;
    position: fixed;
    width: auto;
    padding: 10px;
    margin-right: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    left: 1.5em;
    top: 2.2em;
    // transform: translate(-5%, -50%);
    outline: none;
    z-index: 999;
  }

  .hamburger-box {
    width: 35px;
    height: 15px;
    display: inline-block;
    position: relative;
  }

  @mixin hamburger-line {
    width: 100%;
    height: 3px;
    background-color: $color-dark;
    position: absolute;
    border-radius: 3px;
  }

  .hamburger-inner {
    @include hamburger-line;

    left: 0;
    top: 50%;
    // transform: translateY(-50%);
    transition: background-color 0.3s 0.1s ease-in-out;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    @include hamburger-line;

    content: "";
    left: 0;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-inner::before {
    top: -10px;
  }

  .hamburger-inner::after {
    top: 10px;
  }

  .hamburger-active .hamburger-inner {
    background-color: transparent;
  }

  .hamburger-active .hamburger-inner:before {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger-active .hamburger-inner::after {
    transform: translateY(-10px) rotate(-45deg);
  }

  .temida {
    width: 100%;
    opacity: 0.2;
  }
  #services .container {
    padding: 1em;
    width: auto;
    margin-bottom: 5em;

    & .service-wrapper {
      margin-top: 10px;
    }

    & h2 {
      font-size: 1.5em;
    }

    & .service-pic {
      width: 4em;
    }
  }

  .weight {
    width: 30em;
  }

  #about .container {
    flex-direction: column;
    width: 90vw;

    & .image img {
      width: 80vw;
    }

    & .about {
      padding: 3em;
      & p {
        font-size: 1.2em;
        line-height: 2em;
      }
    }
  }

  #contact .container {
    flex-direction: column-reverse;
    width: 90vw;

    & h3 {
      margin: 0;
      text-align: center;
    }

    & .contact-form {
      width: 90%;

      & .btn-send {
        margin: 4em auto;
      }
    }
  }

  #footer .page-footer {
    height: 8vh;
  }
}
