$color-main: #7f8fa6;
$color-light: #f5f6fa;
$color-two: #40739e;
$color-three: #8698a2;
$color-four: #0097e6;
$color-font: #363435;
$color-dark: #363435;
// $color-light: #bed6f7;
// $color-two: #c73117;
// $color-three: #43bf84;
// $color-four: #8ac4db;
// $color-five: #43bf84;
$font-title: "Abril Fatface", cursive;
$font-text: "Open Sans", sans-serif;

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  border: 0.5px solid #ffffff;
  border-radius: 17px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 0px;
  box-shadow: inset 0px -0.2px 24px -25px #f0f0f0;
}

body {
  overflow-x: hidden;
  font-family: $font-text;
  color: #000000;
  // background-color: white;
}
.layout {
  height: 100vh;
  overflow-y: scroll;
  // overflow-y: hidden;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
header {
  scroll-snap-align: start;
  // background-color: $color-main;
  background: linear-gradient(180deg, $color-main 0%, $color-three 100%);
  height: 100vh;
  width: 100vw;
  position: relative;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  // margin: 2vh;
}

h1 {
  padding-top: 15vh;
  font-size: 56px;
  text-align: center;
  font-family: $font-title;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

h2 {
  font-family: $font-text;
}

.navigation {
  position: fixed;
  height: 90vh;
  margin: 3vh;
  width: 90px;
  border-right: 2px solid black;
  z-index: 10;
  border-radius: 40px;
  & li {
    border-radius: 40px 0 0 40px;
  }
  & a {
    font-size: 40px;
    color: $color-light;
    width: 80px;
    height: 80px;
    padding: 10px;
  }

  & img {
    width: 60px;
    height: 60px;
  }
}

// .navigation li:last-child {
//   margin-top: auto;
// }

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-direction: column;
  height: 50%;
}

.nav-links li {
  letter-spacing: 5px;
  max-width: 90px;
  transition: 0.2s ease;

  & a {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
  }
}
.nav-links span {
  width: 0;
  height: 80px;
  border-radius: 0 40px 40px 0;
  position: absolute;
  top: 0;
  right: 450px;
  transition: translateY(-70px);
  padding-top: 15px;
  // transition: 0.7s ease;
}

.nav-links li:hover {
  background-color: white;

  & li {
    background-color: white;
  }
  & span {
    width: 480px;
    color: black;
    left: 70px;
    background-color: white;
    transition: 0.2s ease;
  }
}

.temida {
  position: absolute;
  width: 30%;
  right: 0;
  bottom: 0;
}

#services {
  background-color: $color-two;
}

header .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  & .name {
    padding-top: 0;
  }
  & .motto {
    font-style: italic;
    margin-top: 15vh;
    text-align: center;
    font-size: 24px;
  }
}

.subtitle {
  text-align: center;
}

.arrow,
.arrow:before,
.arrow:after {
  position: absolute;
  left: 50%;
}

.arrow {
  top: 120%;
  -webkit-transform: rotate(45deg);
}

.arrow:before {
  content: "";
  width: 25px;
  height: 25px;
  top: 50%;
  margin: 10px 0 0 10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
// .arrow:after {
//   content: "";
//   width: 25px;
//   height: 25px;
//   top: 50%;
//   margin: 20px 0 0 20px;
//   border-left: none;
//   border-top: none;
//   border-right: 1px #fff solid;
//   border-bottom: 1px #fff solid;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
//   animation-name: arrow;
// }

/////////////////*Services*/////////////////
#services {
  position: relative;
  background: linear-gradient(180deg, $color-three 0%, rgb(74, 130, 160) 100%);
}
#services .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 650px;
  margin: auto;
}

.service-wrapper {
  display: flex;
}
.service-pic {
  width: 80px;
}

.service-wrapper h2 {
  font-size: 32px;
  margin: auto 0 auto 50px;
}

//////////////////*About*//////////////////////

#about {
  background: linear-gradient(
    180deg,
    rgb(74, 130, 160),
    rgb(30, 109, 151) 100%
  );
}

#about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: auto;
}
#about img,
.about {
  width: 400px;
}

#about p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

//////////////////*Contact*/////////////////////////

#contact {
  // background-color: $color-four;
  background: linear-gradient(180deg, rgb(30, 109, 151) 0%, $color-four 100%);
  height: 97vh;
}
#contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  margin: auto;
}

.contact-form {
  display: flex;
  width: 50%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // margin-top: 50px;
}

.name-wrapper,
.email-wrapper,
.phone-wrapper,
.message-wrapper {
  position: relative;
  margin-top: 50px;
}

.name-wrapper .label-name,
.email-wrapper .label-email,
.phone-wrapper .label-phone,
.message-wrapper .label-message {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
  font-size: 18px;
}
.contact-form label::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid $color-light;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.contact-form input,
textarea {
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  padding-top: 20px;
  outline: none;
  resize: none;
}

.content-name,
.content-email,
.content-phone,
.content-message {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.contact-form input,
textarea {
  padding: 15px 0 10px 0;
  font-size: 18px;
  font-family: $font-text;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact-form input:focus + .label-name .content-name,
input:focus + .label-email .content-email,
input:focus + .label-phone .content-phone,
textarea:focus + .label-message .content-message {
  transform: translateY(-230%);
  font-size: 14px;
  color: white;
}
.contact-form textarea:focus + .label-message .content-message {
  transform: translateY(-825%);
  font-size: 14px;
  color: white;
}
.contact-form input:valid + .label-name .content-name,
.contact-form input:not(:placeholder-shown) + .label-email .content-email,
.contact-form input:not(:placeholder-shown) + .label-phone .content-phone {
  transform: translateY(-230%);
  font-size: 14px;
  color: white;
}

.contact-form
  textarea:not(:placeholder-shown)
  + .label-message
  .content-message {
  transform: translateY(-825%);
  font-size: 14px;
  color: white;
}

.contact-form input:focus + .label-name::after,
.contact-form input:valid + .label-name::after,
.contact-form input:focus + .label-email::after,
.contact-form input:not(:placeholder-shown) + .label-email::after,
.contact-form input:focus + .label-phone::after,
.contact-form input:not(:placeholder-shown) + .label-phone::after,
.contact-form textarea:focus + .label-message::after,
.contact-form textarea:not(:placeholder-shown) + .label-message::after {
  transform: translateX(0%);
}

.section-contact {
  margin-top: 60px;
}
.section-contact h3 {
  font-size: 18px;
  padding: 20px;
  margin-left: 80px;
  letter-spacing: 2px;
}

// .btn-send {
//   margin-top: 20px;
//   width: 150px;
//   height: 50px;
//   background-color: white;
//   color: black;
//   border-radius: 10px;
//   font-size: 18px;
// }
// .btn-send:hover {
//   background-color: rgb(128, 132, 179);
// }
.btn-send {
  background-color: $color-dark;
  border-radius: 0.6em;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  letter-spacing: 2px;
  width: 150px;
  height: 50px;
  border-color: $color-four;
  color: #fff;
  background-image: -webkit-linear-gradient(
    45deg,
    $color-four 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, white 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.btn-send:hover {
  background-position: 0;
  color: $color-dark;
}

footer {
  height: 3vh;
  width: 100vw;
  background-color: #363636;
  color: rgb(175, 175, 175);
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(50px, 50px);
  }
}
